openapi: 3.0.3
info:
  title: Overshoot API
  version: "1.0.0"
  description: |
    Real-time video understanding API. Create a live video stream, push frames over
    WebRTC (LiveKit), then ask a vision-language model questions about what's happening
    using an OpenAI-compatible chat completions endpoint.
servers:
  - url: https://api.overshoot.ai/v1beta
security:
  - bearerAuth: []
tags:
  - name: Models
    description: List available vision-language models.
  - name: Streams
    description: Create, inspect, keep alive, and delete live video streams.
  - name: Chat
    description: Ask models questions about a stream's frames.

paths:
  /models:
    get:
      tags: [Models]
      operationId: listModels
      summary: List models
      description: Returns the set of vision-language models you can target in `chat/completions`.
      security: []
      responses:
        "200":
          description: List of models.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelsResponse"

  /streams:
    post:
      tags: [Streams]
      operationId: createStream
      summary: Create stream
      description: |
        Creates a live stream and returns a LiveKit room URL + client token for publishing
        frames over WebRTC. Streams expire after `ttl_seconds` of inactivity unless renewed
        via the keepalive endpoint.
      responses:
        "201":
          description: Stream created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateStreamResponse"
        "402":
          description: Insufficient credits.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: API key is not assigned to a user.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: Ingest service is draining; retry after a short delay.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /streams/{stream_id}:
    parameters:
      - $ref: "#/components/parameters/StreamId"
    get:
      tags: [Streams]
      operationId: getStream
      summary: Get stream
      description: Returns the current state of a stream — frame counts, latest frame timestamp, recent FPS, lease expiry.
      responses:
        "200":
          description: Stream state.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StreamStatusResponse" }
        "404":
          description: Stream not found.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    delete:
      tags: [Streams]
      operationId: deleteStream
      summary: Delete stream
      responses:
        "200":
          description: Delete acknowledged.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeleteStreamResponse" }
        "404":
          description: Stream not found.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /streams/{stream_id}/keepalive:
    parameters:
      - $ref: "#/components/parameters/StreamId"
    post:
      tags: [Streams]
      operationId: keepaliveStream
      summary: Renew stream lease
      description: |
        Renews the stream's lease so it isn't garbage-collected, and returns a fresh
        LiveKit token in case the publisher disconnected and needs to rejoin the room.
        Streams are deleted after ~5 min without a keepalive.
      responses:
        "200":
          description: Lease renewed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/KeepaliveResponse" }
        "404":
          description: Stream not found or lease expired.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /chat/completions:
    post:
      tags: [Chat]
      operationId: chatCompletions
      summary: Chat completions
      description: |
        OpenAI-compatible chat completions endpoint. To reference frames from a live stream,
        include a `video_url` or `image_url` content part whose URL points at
        `/v1/streams/{stream_id}/media` with a `start_offset_ms` (relative to live edge)
        or `frame_index` query param.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChatCompletionRequest" }
            examples:
              video_qa:
                summary: Ask a model about the last 5 seconds of a stream
                value:
                  model: gemini-2.5-flash
                  messages:
                    - role: user
                      content:
                        - type: text
                          text: What does it say on my shirt?
                        - type: video_url
                          video_url:
                            url: https://api.overshoot.ai/v1beta/streams/cc3e3f79-c5c4-4d1c-985e-028b42030569/media?start_offset_ms=-5000
                        - type: image_url
                          image_url:
                            url: https://api.overshoot.ai/v1beta/streams/cc3e3f79-c5c4-4d1c-985e-028b42030569/media?frame_index=-1
      responses:
        "200":
          description: Completion response.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChatCompletionResponse" }
        "422":
          description: Validation error.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ValidationError" }
        "503":
          description: Service not ready.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key (e.g. `ovs-...`)
      description: |
        All requests must include `Authorization: Bearer <api_key>`. Get a key from the
        Overshoot dashboard. Listing models (`GET /models`) does not require auth.

  parameters:
    StreamId:
      name: stream_id
      in: path
      required: true
      schema: { type: string, format: uuid }
      description: UUID returned by `POST /streams`.

  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
      required: [detail]

    ValidationError:
      type: object
      properties:
        error: { type: string, example: validation_error }
        message: { type: string }
        details:
          type: array
          items:
            type: object
            properties:
              loc: { type: array, items: { type: string } }
              msg: { type: string }
              type: { type: string }

    PublishInfo:
      type: object
      description: WebRTC publish target. Connect with the LiveKit client SDK.
      properties:
        type: { type: string, enum: [livekit], default: livekit }
        url: { type: string, description: LiveKit room URL (wss://...) }
        token: { type: string, description: Short-lived JWT for the LiveKit client. }
      required: [type, url, token]

    ModelInfo:
      type: object
      properties:
        id: { type: string, example: gemini-2.5-flash }
        object: { type: string, default: model }
        created: { type: integer, description: Unix seconds. }
        owned_by: { type: string, default: overshoot }
        status: { type: string, example: ready }
      required: [id, object, created, owned_by, status]

    ModelsResponse:
      type: object
      properties:
        object: { type: string, default: list }
        data:
          type: array
          items: { $ref: "#/components/schemas/ModelInfo" }
      required: [object, data]

    CreateStreamResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        state: { type: string, enum: [active] }
        publish: { $ref: "#/components/schemas/PublishInfo" }
        expires_at_ms: { type: integer, description: "Lease expiry, Unix ms." }
        ttl_seconds: { type: integer, description: Lease TTL in seconds. }
      required: [id, state, publish, expires_at_ms, ttl_seconds]

    StreamStatusResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        state:
          type: string
          enum: [active, ended]
        stream_time_ms: { type: number, nullable: true, description: Stream-clock position in ms. }
        last_frame_at_ms: { type: integer, nullable: true }
        last_frame_index: { type: integer, nullable: true }
        first_frame_at_ms: { type: integer, nullable: true }
        first_available_frame_at_ms: { type: integer, nullable: true }
        first_available_frame_index: { type: integer, nullable: true }
        created_at_ms: { type: integer, nullable: true }
        recent_fps: { type: number, nullable: true }
        retained_frame_count: { type: integer, nullable: true }
        evicted_frame_count: { type: integer, nullable: true }
        expires_at_ms: { type: integer, nullable: true }
        ttl_seconds: { type: integer, nullable: true }
        ended_at_ms: { type: integer, nullable: true }
        end_reason: { type: string, nullable: true }
        audio: { type: boolean, default: false, description: Reserved for future audio support. }
      required: [id, state]

    KeepaliveResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        expires_at_ms: { type: integer }
        ttl_seconds: { type: integer }
        stream_time_ms: { type: number, default: 0.0 }
        publish: { $ref: "#/components/schemas/PublishInfo" }
      required: [id, expires_at_ms, ttl_seconds, publish]

    DeleteStreamResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        deleted: { type: boolean, default: true }
      required: [id, deleted]

    ChatCompletionRequest:
      type: object
      description: |
        OpenAI-compatible. Permissive — unknown fields are accepted and ignored. To reference
        a stream's frames, include `video_url` or `image_url` content parts pointing at
        `/v1/streams/{stream_id}/media`.
      additionalProperties: true
      properties:
        model:
          type: string
          description: One of the IDs returned by `GET /models`.
          example: gemini-2.5-flash
        messages:
          type: array
          items: { $ref: "#/components/schemas/ChatMessage" }
        response_format:
          type: object
          additionalProperties: true
          description: OpenAI-shape `response_format` (passed through to the upstream model).
        max_completion_tokens: { type: integer, nullable: true }
        max_tokens: { type: integer, nullable: true }
      required: [model, messages]

    ChatMessage:
      type: object
      properties:
        role: { type: string, enum: [system, user, assistant] }
        content:
          oneOf:
            - type: string
            - type: array
              items: { $ref: "#/components/schemas/ContentPart" }
      required: [role, content]

    ContentPart:
      oneOf:
        - $ref: "#/components/schemas/TextPart"
        - $ref: "#/components/schemas/ImageUrlPart"
        - $ref: "#/components/schemas/VideoUrlPart"

    TextPart:
      type: object
      properties:
        type: { type: string, enum: [text] }
        text: { type: string }
      required: [type, text]

    ImageUrlPart:
      type: object
      properties:
        type: { type: string, enum: [image_url] }
        image_url:
          type: object
          properties:
            url:
              type: string
              description: |
                Either an HTTPS image URL or an Overshoot stream frame URL like
                `/v1/streams/{stream_id}/media?frame_index=-1`.
          required: [url]
      required: [type, image_url]

    VideoUrlPart:
      type: object
      properties:
        type: { type: string, enum: [video_url] }
        video_url:
          type: object
          properties:
            url:
              type: string
              description: |
                Overshoot stream segment URL, e.g.
                `/v1/streams/{stream_id}/media?start_offset_ms=-5000` (last 5 seconds).
          required: [url]
      required: [type, video_url]

    ChatCompletionResponse:
      type: object
      properties:
        id: { type: string }
        object: { type: string, default: chat.completion }
        created: { type: integer }
        model: { type: string }
        choices:
          type: array
          items: { $ref: "#/components/schemas/ChatCompletionChoice" }
        usage: { $ref: "#/components/schemas/ChatCompletionUsage" }
      required: [id, object, created, model, choices]

    ChatCompletionChoice:
      type: object
      properties:
        index: { type: integer }
        message:
          type: object
          properties:
            role: { type: string }
            content: { type: string, nullable: true }
          required: [role]
        finish_reason: { type: string, nullable: true }
      required: [index, message]

    ChatCompletionUsage:
      type: object
      properties:
        prompt_tokens: { type: integer, default: 0 }
        completion_tokens: { type: integer, default: 0 }
        total_tokens: { type: integer, default: 0 }
