openapi: 3.0.3
info:
  title: Overshoot API
  version: "1.0.0"
  description: |
    Real-time video understanding API. Create a live video stream, push frames over
    WebRTC (LiveKit), then ask a vision-language model questions about what's happening
    using an OpenAI-compatible chat completions endpoint.
servers:
  - url: https://api.overshoot.ai/v1beta
security:
  - bearerAuth: []
tags:
  - name: Models
    description: List available vision-language models.
  - name: Streams
    description: Create, inspect, keep alive, and delete live video streams.
  - name: Chat
    description: Ask models questions about a stream's frames.

paths:
  /models:
    get:
      tags: [Models]
      operationId: listModels
      summary: List models
      description: Returns the set of vision-language models you can target in `chat/completions`.
      security: []
      responses:
        "200":
          description: List of models.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ModelsResponse"

  /streams:
    post:
      tags: [Streams]
      operationId: createStream
      summary: Create stream
      description: |
        Creates a live stream and returns a LiveKit room URL + client token for publishing
        frames over WebRTC. Streams expire after `ttl_seconds` of inactivity unless renewed
        via the keepalive endpoint.
      responses:
        "201":
          description: Stream created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateStreamResponse"
        "402":
          description: Insufficient credits.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "403":
          description: API key is not assigned to a user.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
        "503":
          description: Ingest service is draining; retry after a short delay.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /streams/{stream_id}:
    parameters:
      - $ref: "#/components/parameters/StreamId"
    get:
      tags: [Streams]
      operationId: getStream
      summary: Get stream
      description: Returns the current state of a stream — frame counts, latest frame timestamp, recent FPS, lease expiry.
      responses:
        "200":
          description: Stream state.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StreamStatusResponse" }
        "404":
          description: Stream not found.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    delete:
      tags: [Streams]
      operationId: deleteStream
      summary: Delete stream
      responses:
        "200":
          description: Delete acknowledged.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/DeleteStreamResponse" }
        "404":
          description: Stream not found.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /streams/{stream_id}/keepalive:
    parameters:
      - $ref: "#/components/parameters/StreamId"
    post:
      tags: [Streams]
      operationId: keepaliveStream
      summary: Renew stream lease
      description: |
        Renews the stream's lease so it isn't garbage-collected, and returns a fresh
        LiveKit token in case the publisher disconnected and needs to rejoin the room.
        Streams are deleted after ~5 min without a keepalive.
      responses:
        "200":
          description: Lease renewed.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/KeepaliveResponse" }
        "404":
          description: Stream not found or lease expired.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  /chat/completions:
    post:
      tags: [Chat]
      operationId: chatCompletions
      summary: Chat completions
      description: |
        OpenAI-compatible chat completions endpoint. To reference frames from a live stream,
        include a `video_url` or `image_url` content part whose URL uses the
        `ovs://streams/{stream_id}?...` reference scheme with a `start_offset_ms` (relative to
        live edge), `frame_index`, `timestamp_ms`, or `offset_ms` query param. The `ovs://`
        URI is a reference identifier the server parses, not a fetchable URL.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChatCompletionRequest" }
            examples:
              video_qa:
                summary: Ask a model about the last 5 seconds of a stream
                value:
                  model: google/gemma-4-E4B-it
                  messages:
                    - role: user
                      content:
                        - type: text
                          text: What does it say on my shirt?
                        - type: video_url
                          video_url:
                            url: ovs://streams/cc3e3f79-c5c4-4d1c-985e-028b42030569?start_offset_ms=-5000
                        - type: image_url
                          image_url:
                            url: ovs://streams/cc3e3f79-c5c4-4d1c-985e-028b42030569?frame_index=-1
      responses:
        "200":
          description: Completion response.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChatCompletionResponse" }
        "422":
          description: Validation error.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ValidationError" }
        "503":
          description: Service not ready.
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API key (e.g. `ovs-...`)
      description: |
        All requests must include `Authorization: Bearer <api_key>`. Get a key from the
        Overshoot dashboard. Listing models (`GET /models`) does not require auth.

  parameters:
    StreamId:
      name: stream_id
      in: path
      required: true
      schema: { type: string, format: uuid }
      description: UUID returned by `POST /streams`.

  schemas:
    Error:
      type: object
      properties:
        detail:
          type: string
      required: [detail]

    ValidationError:
      type: object
      properties:
        error: { type: string, example: validation_error }
        message: { type: string }
        details:
          type: array
          items:
            type: object
            properties:
              loc: { type: array, items: { type: string } }
              msg: { type: string }
              type: { type: string }

    PublishInfo:
      type: object
      description: WebRTC publish target. Connect with the LiveKit client SDK.
      properties:
        type: { type: string, enum: [livekit], default: livekit }
        url: { type: string, description: LiveKit room URL (wss://...) }
        token: { type: string, description: Short-lived JWT for the LiveKit client. }
      required: [type, url, token]

    ModelInfo:
      type: object
      properties:
        id:
          type: string
          example: Qwen/Qwen3.5-9B
          description: "Model identifier. Pass this verbatim as the `model` field on `/chat/completions`."
        object:
          type: string
          default: model
          description: "Object type tag. Always `model`."
        created:
          type: integer
          description: "Unix seconds when the model entry was registered."
        owned_by:
          type: string
          default: overshoot
          description: "Provider tag. `overshoot` for models we serve directly."
        status:
          type: string
          enum: [ready, loading]
          example: ready
          description: |
            Replica health. `ready` = at least one healthy replica is currently serving;
            `loading` = replicas are starting (don't depend on it). Models with no healthy
            replica are omitted from the response entirely.
      required: [id, object, created, owned_by, status]

    ModelsResponse:
      type: object
      properties:
        object:
          type: string
          default: list
          description: "Always `list`."
        data:
          type: array
          items: { $ref: "#/components/schemas/ModelInfo" }
          description: "Models that currently have at least one healthy replica or are loading."
      required: [object, data]

    CreateStreamResponse:
      type: object
      properties:
        id: { type: string, format: uuid, description: "Unique stream identifier. Use this in every subsequent stream URL." }
        state: { type: string, enum: [active], description: "Always `active` for a freshly created stream." }
        publish: { $ref: "#/components/schemas/PublishInfo" }
        expires_at_ms: { type: integer, description: "Wall-clock Unix ms when the lease will expire if not renewed via `/keepalive`." }
        ttl_seconds: { type: integer, description: "Lease TTL in seconds. Currently `300` for all streams." }
      required: [id, state, publish, expires_at_ms, ttl_seconds]

    StreamStatusResponse:
      type: object
      properties:
        id: { type: string, format: uuid, description: "Stream identifier. Stable for the stream's lifetime." }
        state:
          type: string
          enum: [active, ended]
          description: |
            Lifecycle state. `active` while the stream accepts publishers and inference. `ended`
            once it has expired, been deleted, or been reaped — this transition is terminal.
        stream_time_ms:
          type: number
          nullable: true
          description: "Stream-clock position in ms — monotonically increases from `0` at the first frame. `null` until the first frame arrives."
        last_frame_at_ms:
          type: integer
          nullable: true
          description: "Wall-clock Unix ms of the most recent frame ingested. `null` until a frame has arrived."
        last_frame_index:
          type: integer
          nullable: true
          description: "Lifetime index of the most recent frame. `frame_index=-1` resolves against this value at request time."
        first_frame_at_ms:
          type: integer
          nullable: true
          description: "Wall-clock Unix ms of the first frame ever ingested on this stream. Used as the origin for `timestamp_ms` anchors in stream URLs."
        first_available_frame_at_ms:
          type: integer
          nullable: true
          description: "Wall-clock Unix ms of the oldest frame still in the retention buffer. Frames older than this have been evicted."
        first_available_frame_index:
          type: integer
          nullable: true
          description: "Lifetime index of the oldest frame still retained. References to indices below this clamp up to it (intersection-with-availability)."
        created_at_ms:
          type: integer
          nullable: true
          description: "Wall-clock Unix ms when the stream resource was created (before any frame arrived)."
        recent_fps:
          type: number
          nullable: true
          description: "Rolling FPS measured over the last few seconds of ingest."
        retained_frame_count:
          type: integer
          nullable: true
          description: "Number of frames currently held in the retention buffer."
        evicted_frame_count:
          type: integer
          nullable: true
          description: "Number of frames that have aged out of retention since the stream began."
        expires_at_ms:
          type: integer
          nullable: true
          description: "Wall-clock Unix ms when the lease expires if not renewed."
        ttl_seconds:
          type: integer
          nullable: true
          description: "Lease TTL in seconds. Currently `300`."
        ended_at_ms:
          type: integer
          nullable: true
          description: "Wall-clock Unix ms when the stream entered the `ended` state. `null` while `state == active`."
        end_reason:
          type: string
          nullable: true
          enum: [expired, deleted, reaped]
          description: |
            Why the stream ended. `expired` = TTL elapsed, `deleted` = explicit `DELETE`,
            `reaped` = system cleanup. `null` while `state == active`.
        audio:
          type: boolean
          default: false
          description: "Reserved for future audio support. Always `false` today."
      required: [id, state]

    KeepaliveResponse:
      type: object
      properties:
        id: { type: string, format: uuid, description: "The stream's identifier (echoed back)." }
        expires_at_ms: { type: integer, description: "New wall-clock Unix ms lease expiry, set to `now + ttl_seconds`." }
        ttl_seconds: { type: integer, description: "Lease TTL in seconds." }
        stream_time_ms: { type: number, default: 0.0, description: "Current stream-clock position in ms (matches `GET /streams/{id}`)." }
        publish: { $ref: "#/components/schemas/PublishInfo" }
      required: [id, expires_at_ms, ttl_seconds, publish]

    DeleteStreamResponse:
      type: object
      properties:
        id: { type: string, format: uuid, description: "The deleted stream's identifier." }
        deleted: { type: boolean, default: true, description: "Always `true` on success." }
      required: [id, deleted]

    ChatCompletionRequest:
      type: object
      description: |
        OpenAI-compatible. Permissive — unknown fields are accepted and ignored. To reference
        a stream's frames, include `video_url` or `image_url` content parts whose URL uses the
        `ovs://streams/{stream_id}?...` reference scheme.
      additionalProperties: true
      properties:
        model:
          type: string
          description: "Model identifier from `GET /models`. The model must be `ready` at request time."
          example: Qwen/Qwen3.5-9B
        messages:
          type: array
          items: { $ref: "#/components/schemas/ChatMessage" }
          description: |
            Conversation turns. `content` may be a plain string or a list of typed parts
            (`text`, `image_url`, `video_url`). Use `image_url` / `video_url` parts to reference
            a stream's frames or windows — see the URL grammar below.
        response_format:
          type: object
          additionalProperties: true
          description: "OpenAI-shape `response_format`. Passed through to the upstream model unchanged."
        max_completion_tokens:
          type: integer
          nullable: true
          description: "Cap on tokens generated. OpenAI's preferred name."
        max_tokens:
          type: integer
          nullable: true
          description: "Legacy alias for `max_completion_tokens`. Both work; pick one."
      required: [model, messages]

    ChatMessage:
      type: object
      properties:
        role: { type: string, enum: [system, user, assistant], description: "Conversation role." }
        content:
          oneOf:
            - type: string
            - type: array
              items: { $ref: "#/components/schemas/ContentPart" }
      required: [role, content]

    ContentPart:
      oneOf:
        - $ref: "#/components/schemas/TextPart"
        - $ref: "#/components/schemas/ImageUrlPart"
        - $ref: "#/components/schemas/VideoUrlPart"

    TextPart:
      type: object
      properties:
        type: { type: string, enum: [text] }
        text: { type: string }
      required: [type, text]

    ImageUrlPart:
      type: object
      properties:
        type: { type: string, enum: [image_url] }
        image_url:
          type: object
          properties:
            url:
              type: string
              description: |
                Either an HTTPS image URL or an Overshoot stream frame reference like
                `ovs://streams/{stream_id}?frame_index=-1`. The `ovs://` URI is a
                reference identifier the server parses, not a fetchable URL.

                Required: exactly one of `frame_index` (lifetime index; `-1` = latest),
                `timestamp_ms` (absolute stream-clock ms), or `offset_ms` (offset from now;
                negative = past).

                Optional, ignored when `frame_index` is set:
                - `tolerance_ms` (int > 0, default `100`) — how far the resolver may snap.
                - `direction` (`nearest` | `forward` | `backward`, default `nearest`) —
                  preference when no exact frame matches within tolerance.
          required: [url]
      required: [type, image_url]

    VideoUrlPart:
      type: object
      properties:
        type: { type: string, enum: [video_url] }
        video_url:
          type: object
          properties:
            url:
              type: string
              description: |
                Overshoot stream segment reference, e.g.
                `ovs://streams/{stream_id}?start_offset_ms=-5000`
                (last 5 seconds). The `ovs://` URI is a reference identifier the server
                parses, not a fetchable URL.

                Required: exactly one start anchor — `start_frame_index`, `start_timestamp_ms`,
                or `start_offset_ms`.

                Optional end anchor (defaults to live edge): at most one of `end_frame_index`,
                `end_timestamp_ms`, `end_offset_ms`. Start and end anchor types may differ.

                Optional `max_fps` (float > 0, default `1.0`) caps how densely frames are
                sampled from the segment. Visual tokens scale linearly with frame count, so
                lowering `max_fps` is the easiest cost knob.
          required: [url]
      required: [type, video_url]

    ChatCompletionResponse:
      type: object
      properties:
        id: { type: string, description: "Unique completion ID. Different on every retry." }
        object: { type: string, default: chat.completion, description: "Always `chat.completion`." }
        created: { type: integer, description: "Unix seconds when the completion was generated." }
        model: { type: string, description: "Echoed model ID from the request." }
        choices:
          type: array
          items: { $ref: "#/components/schemas/ChatCompletionChoice" }
          description: "Generated completions. Length = 1 unless the request set `n > 1`."
        usage: { $ref: "#/components/schemas/ChatCompletionUsage" }
      required: [id, object, created, model, choices]

    ChatCompletionChoice:
      type: object
      properties:
        index: { type: integer, description: "Zero-based index in the `choices` array." }
        message:
          type: object
          properties:
            role: { type: string, description: "Always `assistant`." }
            content: { type: string, nullable: true, description: "Generated text. `null` if the model produced only tool calls." }
          required: [role]
        finish_reason:
          type: string
          nullable: true
          description: "Why generation stopped: `stop` (natural), `length` (token cap hit), `tool_calls`, or `content_filter`."
      required: [index, message]

    ChatCompletionUsage:
      type: object
      properties:
        prompt_tokens: { type: integer, default: 0, description: "Tokens in the request — text plus visual tokens from any frames or segments." }
        completion_tokens: { type: integer, default: 0, description: "Tokens generated in the response." }
        total_tokens: { type: integer, default: 0, description: "Sum of `prompt_tokens` and `completion_tokens`." }
